<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>my closet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"></script>
    {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
  </head>
  <body class="home-page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'accounts:home' %}">HOME</a>
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'boards:create_clothe' %}">服登録</a>          
      <a class="navbar-brand" href="{% url 'boards:list_clothe' %}">服一覧</a>
      <a class="navbar-brand" href="{% url 'accounts:user_logout' %}">ログアウト</a>
      <a class="navbar-brand" href="{% url 'accounts:user_edit' %}">ユーザ更新情報</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'accounts:user_login' %}">ログイン</a>
      <a class="navbar-brand" href="{% url 'accounts:regist' %}">ユーザ登録</a>
      {% endif %}
    </nav>
  {% block content %}{% endblock %}
  
  </body>
</html>