{% extends "base.html" %}
{% load static %}
{% block content %}
  <p class="custom-paragraph">服登録画面</p>
  <div class="registration-container">
    <form method="POST" enctype="multipart/form-data" class="registration-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">商品名  <span style="color: red;">必須</span></label>
        <input type="text" id="title" name="title" class="form-control" required>
      </div>
      {% if new_clothe.picture %}
         <div class="image-container">
           <img src="{{ new_clothe.picture.url }}" alt="{{ new_clothe.title }}" class="clothe-image">
        </div>
      {% endif %}
      <div class="form-group">
        <label for="image">写真  <span style="color: red;">必須</span></label>
        <input type="file" id="image" name="image" accept="image/*" class="form-control" onchange="previewImage()">
      </div>
      <div id="image-preview-container"></div>
      <div class="form-group">
        <label for="price">価格</label>
        <input type="number" id="price" name="price" class="form-control">
      </div>
      <div class="form-group">
        <label for="purchase_date">購入日</label>
        <input type="date" id="purchase_date" name="purchase_date" class="form-control">
      </div>
      <div class="form-group">
        <label for="store">店名</label>
        <input type="text" id="store" name="store" class="form-control">
      </div>
      <div class="form-group">
        <label for="category">カテゴリー  <span style="color: red;">必須</span></label>
        <select id="category" name="category" class="form-control" required>
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>カラー  <span style="color: red;">必須</span></label>
        {% for color in colors %}
          <div class="form-check">
            <input type="checkbox" id="color_{{ color.id }}" name="color" value="{{ color.id }}" class="form-check-input">
            <label for="color_{{ color.id }}" class="form-check-label">{{ color.color_name }}</label>
          </div>
        {% endfor %}
      </div>  
      <div class="button-container">
        <button type="submit" class="btn btn-primary">登録</button>
      </div>
    </form>
  </div>
<script src="{% static 'js/image_preview.js' %}"></script>
{% endblock %}